
# 隐藏文件
.*
*/.*
*/*/.*
*/*/*/.*

# 压缩文件
*.tar.gz
*.zip

# 安装生成文件
build
dist
uf.egg-info

# 无关文件
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
docs/*.pptx
*.sh
modify.py
tmp.*
test.py
replace.py
alarm.mp3
log
tf_slim
data
checkpoint
pretrained
pnasnet
