
# 隐藏文件
.*
*/.*
*/*/.*
*/*/*/.*

# 压缩文件
*.tar.gz
*.zip

# 安装生成文件
build
dist
uf.egg-info

# 输出文件
artifacts

# 无关文件
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
docs/*.pptx
*.sh
modify.py
tmp.py
test.py
replace.py
PLAN.md
